
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Language Features</title>
</head>
<body>
    <div>
        <div>
            <h3>Navigate to a URL to show an example</h3>
        </div>

        <div>
            <ul>
                <li>
                    @Html.ActionLink("Auto Properties", "AutoProperty")
                </li>
                <li>
                    @Html.ActionLink("Object Initializer", "CreateProduct")
                </li>
                <li>
                    @Html.ActionLink("Collection Initializer", "CreateCollection")
                </li>
                <li>
                    @Html.ActionLink("Extension Methods", "UseExtension")
                </li>
                <li>
                    @Html.ActionLink("Interface Extension Methods", "UseExtensionEnumerable")
                </li>
                <li>
                    @Html.ActionLink("Filter Extension Methods", "UseFilterExtensionMethod")
                </li>
                <li>
                    @Html.ActionLink("Anonymous Types", "CreateAnonArray")
                </li>
                <li>
                    @Html.ActionLink("LINQ", "FindProducts")
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
